/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}



.listhomelink {
    list-style-type: none;
}

table.sorting tr:not(.home) {
    cursor: pointer;
}

.ui-state-highlight {
    border: 1px dashed #ccc;
}

.new-category {
    margin-top: 30px;
    position: relative;
}

.ajax-text {
    display: none;
}

table.sorting.categories td {
    padding: 20px !important;
}

.ajaxdivtd {
    position: absolute;

}

span.loader {
    display: none;
}

span.ajaxmsg {
    background: green;
    color: white;
    padding: 10px;
    display: none;
    position: absolute;
    bottom: 0;
}

.ib {
    display: inline-block !important;
}

#login-name a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

#login-name-active a{
    color: rgba(255, 255, 255, 1.0);
    text-decoration: none;
}